<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    
    {{ if eq .Name "Bob" }}
        <span>С возвращением, {{ .Name }}!</span>
    {{ else }}
        <span>Добро пожаловать, {{ .Name }}!</span>
    {{ end }}

    <ul>
        {{ range .Hobbies }}
            <li><b>{{ . }}</b></li>
        {{ else }}
            <li><b>Нет данных</b></li>
        {{ end }}
    </ul>

    <p>Пользователь: {{ .Name }}</p>
    <p>Возраст: {{ .Age }}</p>
    <p>Деньги: {{ .Money }}</p>
</body>
</html>